.body {
    background-color: rgb(43, 184, 24);
}
h1 {
    font-family:  'Bebas Neue', cursive;
    font-style: inherit;
    font-size: 55px;
    color: black;
    margin: 20px;

    
}    


                    
               /* Estilo del primer index */
#titulo-ultimatemuscles { 
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
   
    margin-top: 50px;
 margin-bottom: 0px;

}
 
#frase-motivadora {
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 50px;
   
    margin-top: 0px;
    margin-bottom: 10px;

}

#abierto{
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
   
    margin-top: 20px;
    margin-bottom: 160px;
}

.header-principal{
    display: flex;
height: 430px;
flex-direction: column;
align-items: center;
}



/* Estilo del navegador */


nav ul li { display: inline-block; 

}

 nav ul li a { text-decoration: none;
    color: rgba(255, 255, 255, 0.903);
 }

 div div a {
    text-decoration: none;
   
   
     list-style-type: none; 
     
 }
 nav {
    background-color: rgb(0, 0, 0);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin-top: 20px;
    padding-top: 20px;
 }

 nav ul li {

    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    font-style: oblique;
    position: relative;
    left: 850px;
    margin: 8px;
 }

  /* Estilo de la secci贸n Instalaciones */

  


 
  .instalaciones {

    color: rgb(247, 243, 243);
    font-size: 40px;
    font-weight: 20px;
    margin: 20px;
 }

 .instalaciones-2 {

    color: rgb(247, 243, 243);
    font-size: 40px;
    font-weight: 20px;
    margin: 20px;
 }

 /* Estilo secci贸n profesores */
 
 #profes {
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(0, 0, 0, 0.93);
    border: solid;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    margin: 100px 400px 100px 20px;
    

    padding: 10px 100px 10px 10px ;

 }

 /* Estilos Planes */
 .div-planes {

    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;

 }

 .card {
   color: rgba(255, 255, 255, 0.959);
   background-color: black;
   border: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
 }
 

 /* Estilo contacto */

  .contenedor {
    height: 400px;
    display:grid;
    grid-template-areas: 
    "facebook instagram whatsapp"
    "facebook instagram whatsapp" ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
   


 }

 .facebook {
    grid-area: facebook;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;

 }
 .instagram {
    grid-area: instagram;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;

 }

 .whatsapp {
    grid-area: whatsapp;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;

 }

 /* Estilo Secci贸n inscripci贸n */

 #formulario {

    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(0, 0, 0, 0.93);
    border: solid;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin:0px 450px 0px 50px;
    padding: 50px 20px;
}



#h3-form {
    color: white;
}

/* Footer */
footer {
   height: 150px;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   margin-top: 150px;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;

}

.footer-6 {
   margin-top: 300px;
}
